<header>
  <div class="background_img" id="fixed_pos">
    <img src="../img/eyecatch.jpg">
  </div>
  <h1 class="concept">あなたの<br />好きな空間を作る。</h1>
  <nav id="fixed" class="box_transition">
    <div class="header_nav">
        <div class="logo">
            <a href="../views/index.php"><img src="../img/logo.png" alt="Cafe" /></a>
        </div>
        <div class="g_nav">
            <div class="menu" id="prefectureBtn">はじめに</div>
            <div class="menu" id="experienceBtn">体験</div>
            <div class="menu"><a href="contact.php">お問い合わせ</a></div>
        </div>
        <div class="sign">
            <div id="signin" class="signin">サインイン</div>
        </div>
    </div>
  </nav>
</header>

<div class="bg_darken">
</div>
<div id="signin_box" class="signin_box">
  <h2>ログイン</h2>
  <form action="#" method="post">
    <dl>
      <dd><input type="text" name="name" placeholder="メールアドレス"></dd>
      <dd><input type="password" name="password" placeholder="パスワード"></dd>
      <dd><button type="submit">送　信</button></dd>
    </dl>
    <dl class="sns">
      <dd><button name="twitter"><img src="../img/twitter.png"></button></dd>
      <dd><button name="facebook"><img src="../img/fb.png"></button></dd>
      <dd><button name="google"><img src="../img/google.png"></button></dd>
      <dd><button name="apple"><img src="../img/apple.png"></button></dd>
    </dl>
  </form>
</div>